{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h1>EDIT page</h1>
    <form method="post">
        {% csrf_token %}
        <label for="mdtitle">Title:</label>
        <input type="text" name="title" id="mdtitle" value="{{ old_title }}">
        <br></br>
        <label for="mdare">Markdown text:</label>
        <textarea name="markdown" id="mdarea" cols="10" rows="10">{{ old_markdown }}</textarea>
        <button type="submit">Save</button>
    </form>
{% endblock %}